
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: rgb(236, 235, 235);

}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    background-color: rgb(248, 244, 238);
    z-index: 1000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.418);
}

#titulo{
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 100px;
}
#links{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


#links > a{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#links > a:hover{
    background-color: rgb(167, 167, 167);
    color: white;
    transition: 0.5s;
}
#desafio{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    align-content: center;
    font-family: "Kanit", sans-serif;
}
#cantor{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
#imgeminem{
    border-radius: 10px;
    width: 450px;
    height:450px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}
#imgeminem:hover{
    width: 500px;
    height: 500px;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-behavior: smooth;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}
#imgeminem:active{
    width: 450px;
    height: 450px;
    transition: 0.5s;
    transition-delay: 0.5s;
    transition-behavior: smooth;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}
#foto{
    display: flex;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}


footer{
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    background-color: orange;
}